{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "function": "./src/function",
          "constants": "./src/constants",
          "util": "./src/util"
        }
      }
    ]
  ]
}
